.tablecontainer {
    overflow-x: auto;
    width: auto;
}

.widetable {
    width: auto;
    border-collapse: collapse;
}

.widetable th,
.widetable td {
    width: 120px;
}

@media screen and (max-width: 400px) {

    .tablecontainer {
        overflow-x: auto;
        width: 360px;
    }

    .widetable {
        width: 700px;
    }

    .widetable th,
    .widetable td {
        width: 80px;
    }

}