.guideTable {
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
}

th {
    text-align: center !important;
}

@media screen and (max-width: 400px) {
    .guideTable {
        width: 300px;
        overflow-x: auto;
        white-space: nowrap;
        text-align: center;
    }
}

.mprotected {
    color: 'lightgreen'
}

.madmin {
    color: 'yellow'
}

.mself {
    color: 'cyan'
}